.navigation{
    height: 5rem;
    background: navajowhite;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    float:inline-start;
}
html{
    font-size: 62.5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.images{
    margin: 6px;
}

body{
    height: 200vh;
}
.navigation::after{
    content: "";
    display: block;
    clear: both;
}